<div class="tree-item" cdkDrag cdkDropList [cdkDropListData]="item?.children" (cdkDropListDropped)="drop($event)">
    <div class="tree-item-header">
        <div class="btn-collaps">
            <button (click)="toggleCollapse()" *ngIf="item?.children">
                <span *ngIf="isCollapsed"> + </span>
                <span *ngIf="!isCollapsed"> - </span>
            </button>
        </div>
        <span class="drag-handle">
            <img src="" alt="">
        </span>
        <!-- <span class="item-name"></span> -->
        <input type="text" [value]="item?.name">
    </div>
    <div class="tree-item-children" *ngIf="!isCollapsed">
        <app-tree-item *ngFor="let child of item?.children" [item]="child"></app-tree-item>
    </div>
</div>
<div class="tree-item" cdkDropList [cdkDropListData]="item?.children" (cdkDropListDropped)="drop($event)">

</div>